# The location of the sensor (e.g., the building)
LOCATION=home

# The room where the sensor resides
ROOM=guestroom

# The name of the sensor
SENSOR=one

# The pin on the GPIO on the Raspberry Pi
PIN=4

# The hostname or IP address of the MQTT broker
MQTT_HOST=localhost

# The port where the MQTT broker is listening
MQTT_PORT=1883

# How long to wait for before pinging the MQTT broker
MQTT_TIMEOUT=60

# How long to wait between unsuccessful readings
READ_TIMEOUT=2

# How long to wait between successful readings
DELAY=60
